<app-home></app-home>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">  
      <label>
        UserID:
      </label><br>
       <input type="text" formControlName="loginuserId" [(ngModel)]="uid">
       <div *ngIf="loginuserid.hasError('required')" class="text-danger">
          UserID Required
          
        </div>
        <div *ngIf="loginuserid.hasError('maxlength')" class="text-danger" >
            Max length is 12.
        </div>
        <div *ngIf="loginuserid.hasError('minlength')" class="text-danger">
              Min length is 4.
        </div>
      </div>
     
     
        

      <div class="form-group">
      <label>
        Email:
      </label><br>
        <input type="email" formControlName="loginemail" [(ngModel)]="uemail"  >
        <div *ngIf="loginuesrEmail.hasError('required')" class="text-danger">
          Email Required.
        </div>
        <div *ngIf="loginuesrEmail.hasError('email')" class="text-danger">
          Email Required.
        </div>
        
      </div>
    

      <div class="form-group">
      <label>
        Password:
      </label><br>
        <input type="password" formControlName="loginpassword" [(ngModel)]="upass"  required>
        <div *ngIf="loginuserPassword.hasError('required')" class="text-danger">
          UserID Required
          
        </div>
        <div *ngIf="loginuserPassword.hasError('maxlength')" class="text-danger">
          Max length is 8.
          
      </div>
      <div *ngIf="loginuserPassword.hasError('minlength')" class="text-danger">
        Min length is 4.
    </div>
      </div>
   
      
      <div class="form-group">
      <button type="submit" [disabled]="!loginForm.valid"class="btn btn-primary">Login</button>
      <p class="disabled">Don't have an account? <a routerLink="/signup">Signup</a></p>
      <p>
          Form Status: {{ loginForm.status }}
      </p>
    </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>

<!-- Firebase work start -->
<!-- <div class="container">
  <div style="color:blue;">
  <h1>Firebase-Demo</h1>
  <h4>Description</h4>
  </div>
<div style="width:500px"><br>
<form (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
        
        <input type="text" class="form-control" name="items"placeholder="containt..." required [(ngModel)]="itemsvalue">
      </div>
      <div class="btn-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
<h2>Content frome Firebase</h2>
<div class="col-md-3">
  <pre *ngFor = "let item of items | async">{{item.content}</pre>
</div>
</div> -->
<!-- Firebase work end -->
