<app-home></app-home>


<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form>
      <div class="form-group">
        <label for="Inputname">Name</label>
        <input type="username" 
               class="form-control"
               placeholder="Enter Your name" required [(ngModel)]="name" name="name">
      </div>

      <div class="form-group">
        <label for="InputEmail">Email address</label>
        <input type="email" [(ngModel)]="email" name="emailId"
               class="form-control" id="InputEmail" aria-describedby="emailHelp"
               placeholder="Enter Your email" required>
      </div>

      <div class="form-group">
        <label for="Userid">UserId</label>
        <input type="userid" [(ngModel)]="userId" name="userId"
               class="form-control" id="userid"
               placeholder="Enter Your Userid" required>
      </div>

      <div class="form-group">
        <label for="InputMobile">Mobile</label>
        <input type="password" [(ngModel)]="pass" name="password"
               class="form-control" id="InputMobile"
               placeholder="Enter Your Mobile Number" required>
      </div>
<!--      <div class="form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="InputCheck">-->
<!--        <label class="form-check-label" for="InputCheck">Check me out</label>-->
<!--      </div>-->
      <button  type="submit" (click)="signup()" class="btn btn-primary">Signup</button>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
