<nav class="navbar navbar-expand-md bg-primary navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">NativeByte</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Link inside Toggler/collapsibe Button -->
    
    <div class="collapse navbar-collapse" id="myNavbar">
      

      <ul class="navbar-nav">
        <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/poll">Polling</a>
        </li>
      </ul>
    
      <ul class="navbar-nav navbar-right">
       
        <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
        </ul>
      </div>
    
      
</nav>




                          


  