<app-home></app-home>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="form-group">  
      <label>
        UserID:
      </label><br>
       <input type="text" formControlName="userId">
       <div *ngIf="userid.hasError('required')" class="text-danger">
          UserID Required
        </div>
        <div *ngIf="userid.hasError('maxlength')" class="text-danger" >
            Max length is 12.
        </div>
        <div *ngIf="userid.hasError('minlength')" class="text-danger">
              Min length is 4.
        </div>
      </div>
     
     
        

      <div class="form-group">
      <label>
        Email:
      </label><br>
        <input type="email" formControlName="email" >
        <div *ngIf="uesrEmail.hasError('required')" class="text-danger">
          Email Required.
        </div>
        <div *ngIf="uesrEmail.hasError('email')" class="text-danger">
          Email Required.
        </div>
        
      </div>
    

      <div class="form-group">
      <label>
        Password:
      </label><br>
        <input type="password" formControlName="password" required>
        <div *ngIf="userPassword.hasError('required')" class="text-danger">
          UserID Required
        </div>
        <div *ngIf="userPassword.hasError('maxlength')" class="text-danger">
          Max length is 8.
      </div>
      <div *ngIf="userPassword.hasError('minlength')" class="text-danger">
        Max length is 4.
    </div>
      </div>
   
      
      <div class="form-group">
      <button type="submit" [disabled]="!profileForm.valid"class="btn btn-primary">Login</button>
      <p class="disabled">Don't have an account? <a routerLink="/signup">Signup</a></p>
      <p>
          Form Status: {{ profileForm.status }}
      </p>
    </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
